@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root{
    --font-size:clamp(10px, 16px ,18px );
    --color-orange:#da6e2e;
    --color-orange-light:#ffac6a;
    --font-poppins:poppins;
}

html,body{
      padding:0;
      margin:0;
      font-size: var(--font-size);
      font-family:var(--font-poppins);
}
#root{
    width:80%;
    margin:auto;
}
/*==========colors=======*/
   .text-orange{
    color:#ed7e2d  ;
   }

.text-gray{
    color:#747578;
}


.no-decoration{
    text-decoration:None;
}
/*=========fonts=========*/
.fw-900{
    font-weight: 900;
}


.font-4{
    font-size:4rem;
}
.font-5{
    font-size:5rem;
}

.fw-4{
    font-weight:400
}
.fw-5{
    font-weight:500
}
.line-height-2_4{
    line-height: 2.4rem;
}
.font-2_2{
    font-size:2.2rem;
}
.font-2{
    font-size:1.8rem;
}
.font-1{
    font-size:0.77rem;
}
.font-1_3{
    font-size: 1.3rem;
}
.ml-2{
    margin-left:2rem;
}
.mt-2{
 margin-top:2rem;
}
.ml-1{
    margin-left:1rem;
}
.mt-1{
    margin-top:1rem;
}
.mt-2{
    margin-top:2rem;
}
.my-2{
    margin: 1rem  0;
}
.mb-1_5{
    margin-bottom:1.5rem;
}
.mb-2{
     margin-bottom:2rem;
}
.pl-1{
    padding-left: 1rem;
}

.d-inline-block{
    display:inline-block;
}

.p-relative{
    position:relative;
}

.p-absolute{
    position:absolute;
   
}
.left-4_4{
     left:44%;
}

.text-center{
    text-align:Center;
}

.list-style-none{
    list-style:none;
}
.navigation-buttons-con{
    position:absolute;
    z-index: 6000;
    display:flex;
    justify-content: space-between;
    top:50%;
    transform: translateY(-50%);
    width:110%;
    left:-5%;
}
.navigation-buttons-con span{
     width:2.7rem;
     height:2.7rem;
     display:flex;
     justify-content: center;
     align-items: center;
     background:#fff;
     border-radius: 50%;
     cursor:pointer;
}